 .res-wrapper .res-container {
  position: fixed;
  top: 10%;
  bottom: 10%;
  left: 20%;
  right: 20%;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr auto auto;
  grid-template-areas: 
      'header header'
      'image description'
      'reservations reservations'
      'form form';
  background-color: bisque;
  box-shadow: -5px 10px #bb8000;
  border-radius: 5px;
  padding: 20px;
  grid-gap: 10px;
}

.reservation-header {
  grid-area: header;
  padding: 20px;
  display: flex;
  justify-content: end;
}

.reservation-header button {
  padding: 5px;
}

.res-image-conatainer {
  grid-area: image;
  display: flex;
  justify-content: center;
}

.pizza-image {
  height: 400px;
}

.res-details {
  grid-area: description;
  padding: 0 20px;
}

.reservations {
  grid-area: reservations;
  display: flex;
  flex-direction: column;
  align-items: center;
};

#recordsDis {
  display: flex;
}

#add-reserve-form {
  justify-self: center;
  grid-area: form;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);
  grid-gap: 15px;
  width: 500px;
}

#add-reserve-form  > * {
  padding: 10px;
  border-radius: 5px;
  border: none;
}

#add-reserve-form button {
  justify-self: start;
  width: 200px;
  background-color: #e67e22;
  color: white;
}
